OPEN_WEATHER_API_KEY = "your_openWeatherAPI_key_here"
GEMINI_API_KEY = "your_geminiAPI_key_here"

DB_CONFIG = {
    DB_HOST = "Database host name"
    DB_USER = "Database user name"
    DB_PASSWORD = "Database password"
    DB_NAME = "Database name"
}

HF_HOME = "your/huggingface/directory/path"
OLLAMA_MODELS = "your/ollama/directory/path"

HF_TOKEN="token"
